@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPTBook.woff2") format("woff2"),
    url("../fonts/FuturaPTBook.woff2") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPTMedium.woff2") format("woff2"),
    url("../fonts/FuturaPTMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
:root {
  --accent-color: #5d71dd;
  --dark-color: #2f2222;
  --dark-opacity: rgba(47, 34, 34, 0.4);
  --grid-gap: 40px;
}
body {
  font-size: 18px;
  line-height: 23px;
  overflow-anchor: none;
  margin: 0;
  font-family: "Futura PT", serif;
  font-weight: 400;
  background-color: #f9f9f9;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ====== header ======= */

.header__container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 6px 0 4px;
  background-color: #fff;
}
.header__logo {
  transform: translateY(5px);
}
.header__right {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: var(--grid-gap);
}
.nav__item:not(:last-child) {
  margin-right: var(--grid-gap);
}
.nav__link {
  position: relative;
  font-size: 18px;
  color: var(--dark-color);
  transition: all .2s ease-in-out;
}
.nav__link:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.phone {
  font-size: 18px;
  font-weight: 500;
  color: var(--accent-color);
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
.banner {
  height: 400px;
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ============= content ================ */

.content {
  padding-top: var(--grid-gap);
}
.content__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--grid-gap);
}
.posts {
  grid-column: 3 span;
}

.blog-post {
  background-position: center;
  background-size: cover;
  position: relative;
  padding: var(--grid-gap);
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  /* overflow: hidden; */
}
.blog-post__date {
  position: absolute;
  top: var(--grid-gap);
  right: var(--grid-gap);
  transition: all 0.3s ease-in-out;
}
.blog-post--main {
  height: 280px;
  margin-bottom: var(--grid-gap);
}
.blog-post__category {
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
  display: inline-block;
  background-color: #f7f8fd;
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 21px;
}
.blog-post__title {
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.blog-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  color: var(--dark-color);
}
.blog-post__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-post__decr {
  transition: all 0.3s ease-in-out;
  color: var(--dark-opacity);
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding-right: var(--grid-gap);
}

/* ================ post-grid ======================= */

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 180px);
  grid-gap: var(--grid-gap);
  margin-bottom: 90px;
}
.post-grid__item {
  /* overflow: hidden; */
}
.post-grid__item:nth-child(5n + 1) {
  grid-column: 2 span;
  grid-row: 2 span;
}
.post-grid__item:nth-child(5n + 2) {
  grid-row: 2 span;
}
.post-grid__item:nth-child(5n + 3) {
  grid-row: 2 span;
}
.post-grid__item:nth-child(5n + 4) {
  grid-column: 2 span;
}
.post-grid__item:nth-child(5n + 5) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n + 2) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}
.post-grid__item:nth-child(5n + 2) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}
.post-grid__item:nth-child(5n + 2) .blog-post__title {
  color: #fff;
}
.post-grid__item:nth-child(5n + 2) .blog-post__decr {
  display: none;
}
.post-grid__item:nth-child(5n + 2) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}
.post-grid__item:nth-child(5n + 3) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}
.post-grid__item:nth-child(5n + 3) .blog-post__title {
  color: #fff;
}
.post-grid__item:nth-child(5n + 3) .blog-post__decr {
  display: none;
}
.post-grid__item:nth-child(5n + 3) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 4) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}
.post-grid__item:nth-child(5n + 4) .blog-post__category {
  margin-bottom: 20px;
}
.post-grid__item:nth-child(5n + 4) .blog-post__decr {
  display: none;
}
.post-grid__item:nth-child(5n + 4) .blog-post__date {
  top: 30px;
}

.post-grid__item:nth-child(5n + 5) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}
.post-grid__item:nth-child(5n + 5) .blog-post__category {
  margin-bottom: 20px;
}
.post-grid__item:nth-child(5n + 4) .blog-post__decr {
  display: none;
}
.post-grid__item:nth-child(5n + 4) .blog-post__date {
  top: 30px;
}

/* ============ pagination =================== */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.pagination__item{
  transition: all .3s ease-in-out;
}
.pagination__item:not(:last-child) {
  margin-right: 20px;
}
.pagination__link {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
.pagination__link--current {
  color: var(--accent-color);
}
.pagination__link--current::after {
  color: var(--accent-color);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

/* ============ sidebar =================== */

.popular-post{
  margin-bottom: var(--grid-gap);
}
.popular-post__title {
  margin-bottom: 30px;
}
.popular-post__article {
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid #e5e4e4;
  border-radius: 0;
  margin-bottom: 10px;
}
.popular-post__item:last-child .popular-posts__article {
  border-bottom: 1px solid transparent;
}
.popular-post__article .blog-post__title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 10px;
}
.popular-post__article .blog-post__decr {
  font-size: 18px;
  line-height: 23px;
  padding-right: 0;
  margin-bottom: 10px;
}
.popular-post__article .blog-post__date {
  display: block;
  position: static;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #e5e4e4;
  margin-bottom: 10px;
}

/* ============= subscribe =============== */

.subscribe {
  background-color: #fff;
  padding: 40px 30px 50px;
  text-align: center;
  border-radius: 20px;
}
.subscribe__title {
  margin-bottom: 30px;
}
.sub-form__input {
  width: 100%;
  display: block;
  font-family: "Futura PT", serif;
  background-color: #f5f5f5;
  border: none;
  font-size: 18px;
  line-height: 23px;
  padding: 13px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.sub-form__input::placeholder {
  font-family: "Futura PT", serif;
  background-color: #f5f5f5;
  border: none;
  font-size: 18px;
  line-height: 23px;
  color: #e5e4e4;
}
.sub-form__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Futura PT", serif;
  padding: 13px 30px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  transition: all .2s ease-in-out;
}
.sub-form__btn svg path{
  transition: all .2s ease-in-out;
  
}
.sub-form__btn:hover{
  background-color: #fff;
  color: var(--accent-color);
  box-shadow: 0px 1px 22px 5px rgb(0, 0, 0, .2);
} 
.sub-form__btn:hover svg path{
  fill: var(--accent-color);
} 
.sub-form__btn span {
  margin-right: 10px;
}

/* =============== footer ================ */

.footer {
  padding: 40px 0;
  background-color: rgba(93, 113, 221, 0.05);
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__nav {
  margin-bottom: 60px;
}
.footer .nav__item:not(:last-child) {
  margin-right: 80px;
}

/* =========== hover ================== */

.blog-post:hover {
  background-color: #fff;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  color: var(--dark-color);
}

.post-grid__item:nth-child(5n + 2):hover .blog-post {
  background: #fff;
}
.post-grid__item:nth-child(5n + 2):hover .blog-post__title {
  color: var(--dark-color);
}
.post-grid__item:nth-child(5n + 3):hover .blog-post {
  background-size: cover;
  background-position: center;
  transform: scale(1.050);
  border-radius: 20px;
}
.blog-post.popular-post__article:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--accent-color);
} 
.blog-post.popular-post__article:hover .blog-post__title{
  color: var(--accent-color);
}
.pagination__item:hover .pagination__link{
  color: var(--accent-color);
} 
